.loadingBar {
    background-color: transparent;
    height: 30px;
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 0 5%;

}

.loadingBarActive {
    opacity: 1;
}


.loadingBarExpandingBar {
    height: 100%;
    background-color: white;
    animation-name: expandingBar;
    border-radius: 10px;
}

@keyframes expandingBar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
